.btn {
  background-color: white;
  opacity: 0.65;
  border: none;
  color: black;
  padding: 15px 50px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  transition: 0.3s;
  top: 45%;
  left: 50%;
  right: 50%;
  position: fixed;
}

.btn:hover {
  background-color: darkred;
  color: white;
  opacity: 0.8;
}

.main {
  background: url('background.jpg') no-repeat fixed center;
  background-size: cover;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 17px;
  font-family: Tahoma, Geneva, sans-serif;
}

.pins {
  background: url('pinsback2.jpg') no-repeat fixed center;
  background-size: cover;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 17px;
  font-family: Tahoma, Geneva, sans-serif;
}
